# Виртуальные окружения
.venv/
venv/
env/

# Артефакты Poetry
.cache/
poetry.lock

# Пакеты и сборки
dist/
build/
*.egg-info/

# Python байт‑код
__pycache__/
*.pyc
*.pyo
*.pyd

# Кэш линтеров
.ruff_cache/
.mypy_cache/

# Файлы IDE
.vscode/
.idea/
*.sublime-workspace

# Лог‑файлы
*.log

# Временные файлы
*.tmp
*.swp

# Системные файлы
.DS_Store
Thumbs.db

# Личные конфиги
.env
*.local
